PG_USER=XXXX
PG_PASSWORD=XXXX
PG_HOST=XXXXX
PG_PORT=5432
PG_DATABASE=XXXXX

APP_URL=http://localhost
APP_PORT=8080

ENCRYPTION_ROUND=14
JWT_SECRET=XXXXXX

SMTP_HOST=XXXXXXXX
SMTP_PORT=XXX
SMTP_AUTH_USER=XXXXXX
SMTP_AUTH_PASSWORD=XXXXXX
